@font-face {
  font-family: 'maven_problack';
  src: url('../fonts/mavenpro-black-webfont.eot');
  src: url('../fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mavenpro-black-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-black-webfont.woff') format('woff'),
       url('../fonts/mavenpro-black-webfont.ttf') format('truetype'),
       url('../fonts/mavenpro-black-webfont.svg#maven_problack') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'maven_probold';
  src: url('../fonts/mavenpro-bold-webfont.eot');
  src: url('../fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mavenpro-bold-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-bold-webfont.woff') format('woff'),
       url('../fonts/mavenpro-bold-webfont.ttf') format('truetype'),
       url('../fonts/mavenpro-bold-webfont.svg#maven_probold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'maven_promedium';
  src: url('../fonts/mavenpro-medium-webfont.eot');
  src: url('../fonts/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mavenpro-medium-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-medium-webfont.woff') format('woff'),
       url('../fonts/mavenpro-medium-webfont.ttf') format('truetype'),
       url('../fonts/mavenpro-medium-webfont.svg#maven_promedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'maven_proregular';
  src: url('../fonts/smavenpro-regular-webfont.eot');
  src: url('../fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mavenpro-regular-webfont.woff2') format('woff2'),
       url('../fonts/mavenpro-regular-webfont.woff') format('woff'),
       url('../fonts/mavenpro-regular-webfont.ttf') format('truetype'),
       url('../fonts/mavenpro-regular-webfont.svg#maven_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icons/icomoon.eot?v3aoaz');
    src:    url('../fonts/icons/icomoon.eot?v3aoaz#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.woff2?v3aoaz') format('woff2'),
        url('../fonts/icons/icomoon.ttf?v3aoaz') format('truetype'),
        url('../fonts/icons/icomoon.woff?v3aoaz') format('woff'),
        url('../fonts/icons/icomoon.svg?v3aoaz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-skate:before,
.icon-80s-1:before {
    content: "\e903";
}

.icon-80s-2:before,
.icon-tv:before {
    content: "\e904";
}

.icon-boombox:before,
.icon-80s-3:before {
    content: "\e905";
}

.icon-pacman:before,
.icon-80s-4:before {
    content: "\e906";
}

.icon-sterio:before,
.icon-80s-5:before {
    content: "\e907";
}

.icon-mr-t:before,
.icon-80s-6:before {
    content: "\e908";
}

.icon-turntable:before,
.icon-80s-7:before {
    content: "\e909";
}

.icon-sneaker:before,
.icon-80s-8:before {
    content: "\e90a";
}

.icon-joystick:before,
.icon-80s-9:before {
    content: "\e910";
}

.icon-shades:before,
.icon-80s-10:before {
    content: "\e90c";
}

.icon-vhs:before,
.icon-80s-11:before {
    content: "\e90e";
}

.icon-music:before,
.icon-80s-12:before {
    content: "\e90d";
}

.icon-ghostbuster:before,
.icon-80s-13:before {
    content: "\e90f";
}

.icon-glasses:before,
.icon-80s-14:before {
    content: "\e90b";
}


.icon-transformers:before,
.icon-80s-15:before {
    content: "\e900";
    font-size: .8em;
    position: relative;
    top:-5px;
}
 
.icon-spaceinvaders:before,
.icon-80s-16:before {
    content: "\e901";
    font-size: .8em;
    position: relative;
    top:-5px;
}

.icon-trophy:before {
    content: "\e916";
}
.icon-play:before {
    content: "\e902";
}
.icon-close:before {
    content: "\e911";
}
.icon-chevron-right:before {
    content: "\e912";
}
.icon-chevron-left:before {
    content: "\e913";
}
.icon-chevron-down:before {
    content: "\e914";
}
.icon-chevron-up:before {
    content: "\e915";
}
.icon-home:before {
    content: "\e917";
}

