body, html {
	margin:0;
	padding: 0;
	display: block;
	font-size:100%;
	font-family:$baseFont;
	background:$darkGray;
}

body {
	background:#fff;
	overflow-x:hidden;
}


header {
	width: 100%;
	height: auto;
	display: block;

	img {
		max-width: 100%;
		display: block;
	}
}

#page, #main {
	background:$darkGray;
}

#main {
	max-width: 1000px;
	min-height: 400px;
	margin:0 auto 50px auto;
	display: block;
	position: relative;
	
	@include breakpoint(desktop) {
		width: 90%;
	}
}

// text styles
h1 {
	@include font($maven);
	color:#fff;
	font-size: 2em;
	line-height: 1.4em;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-align: left;
}

h2 {
	color:#fff;
}

p {
	color:#fff;
}

p strong {
	@include font($mavenBold);
}

// landing page
.agencyLinks {
	width:80%;
	margin:10px auto;
	display:block;
		
	$icon: 62px;
	
	a {
		box-sizing: border-box;
		display: block;
		width: auto;
		height: $icon;
		line-height: $icon;
		color:#fff;
		text-decoration: none;
		text-align: left;
		margin:0 0 30px 0;
		padding:0 0 0 ($icon + 15);
		@include font($maven);
		font-size: 1.3em;
		transition:.25s all ease-in-out;
		position: relative;
		z-index: 300;
	
		
		&:before {
			content:'';
			position: absolute;
			top:0;
			left:($icon/2);
			background:$magenta;
			display: block;
			height: 100%;
			width: 0;
			z-index: 1;
			transition:.2s all ease;
			border-radius: $icon;
			z-index: 20;
		}
				
		i {
			display:inline-block;
			float: left;
			font-size: $icon - 20;
			color:$blue;
			height: $icon;
			width: $icon;
			text-align: left;
			margin:0 5px 0 0;
			transition:.3s all cubic-bezier(0.030, 0.545, 0.580, 1.560);
			position: absolute;
			left:0;
			top:0;
			background:$magenta;
			border-radius: $icon;
			line-height: $icon;
			text-align: center;
			z-index: 300;
			
		}
		
		.text {
			position: relative;
			z-index: 500;
			transition:.3s all cubic-bezier(0.030, 0.545, 0.580, 1.560);
		}
		
		&:hover {
			color:#fff;
			
			&:before {
				width: 100%;
			}
						
			i {
				color:#fff;
				border-radius: 40px 5px 5px 40px;
				padding-left:30px;
			}
			
			.text {
				padding-left:20px;
			}
		} // hover
		
		@include breakpoint(narrower) {
			font-size: 1em;
			text-align: center;
			padding:0;
			margin:0 0 40px 0;
			line-height: 140%;
			
			
			&:before {
				display: none;
			}
			
			i {
				text-align: center;
				display: block;
				width: 100%;
				background:none;
				color:$magenta;
				float: left;
				position: relative;
				height: auto;
				padding:0;
				margin:15px 0 3px 0;
				line-height: 1em;
				font-size: 36px;
			}
			
			.text {
				display: block;
				width: 100%;
				float: left;
				height: auto;
				padding:0 0 10px 0;
				margin:0;
				border-bottom:1px solid $teal;
			}
			
			&:hover {
				padding:0;
				
				&:before {
					display: none;
				}
				
				i {
					color:$magenta;
					padding:0;
				}
				
				.text {
					padding-left:0;
				}
			} // hover
			
		} // breakpoint - narrower
	} // a
} // .agencyLinks


// individual agency page
.top {
	width: 100%;
	margin:0 auto 25px auto;
	border-bottom:1px solid $magenta;
	position: relative;
	
	@include breakpoint(narrower) {
		margin-bottom:50px;
	}
	
	h1 {
		font-size: 1.7em;
		padding:0 0 2px 0;
	}
	
	.nav {
		position: absolute;
		right:0;
		top:0;
		
		@include breakpoint(narrower) {
			top:110%;
			right:auto;
			left:0;
		}
		
		a {
			float: left;
			display: inline-block;
			color:$magenta;
			background:transparent;
			text-decoration: none;
			padding:0;
			height: 30px;
			width: 30px;
			line-height: 32px;
			border-radius: 2px;
			@include font($maven);
			transition:.2s all ease-in-out;
			position: relative;
			top:2px;
			margin:0 3px 0 0;
			text-align: center;
			
			i {
				display: inline-block;
				float: left;
				height: 100%;
				width: 100%;
				line-height: 30px;
				font-size: 1.3em;
				position: relative;
				text-align: center;
			}
			
			&:hover {
				background:rgba($magenta, .2);
				color:#fff;
			}
		}
	}
}


.intro {
	display: block;
	width: 94%;
	height: auto;
	margin:-20px 0 70px 3%;
	
	.logo {
		float: left;
		width: 22%;
		display: block;
		
		img {
			max-width: 100%;
			display: block;
		}
	}
	
	.text {
		float: right;
		width: 74%;
		display: block;
		
		p {
			font-size: 1.05em;
			line-height: 1.4em;
			margin-top:15px;
			@include font($maven);
		}
	}
	
	@include breakpoint(narrower) {
		.logo {
			display: block;
			width: 100%;
			text-align: center;
			margin:20px 0 0 0;
			
			img {
				max-width: 40%;
				display: inline-block;
			}
		}
		
		.text {
			width: 94%;
			margin:0 0 0 3%;	
		}
	}
} // .intro

.links {
	display: block;
	width: 23%;
	height: auto;
	float: right;
	
	@include breakpoint(narrower) {
		width:100%;
	}
	
	@include breakpoint(mobile) {
		display: none;
	}
	
	
	a {
		display: block;
		color:#fff;
		text-decoration: none;
		@include font($maven);
		font-size: 1em;
		line-height: 120%;
		text-align: left;
		border-bottom:1px solid $magenta;
		padding:15px 5px;
		transition:.2s all ease;
		
		&:hover {
			background:rgba($magenta, 0.25);
		}
	}
}

.agencySingle {
	width: 72%;
	margin: 0;
	padding:0 0 70px 0;
	text-align: left;
	position: relative;
	float: left;
	
	@include breakpoint(narrower) {
		width: 100%;
	}
	
	.tag {
		position: relative;
		display: inline-block;
		width: auto;
		background:$magenta;
		color:#fff;
		padding:14px 20px 12px 16px;
		margin:0 0 20px 0;
		box-sizing: border-box;
		border-radius: 0 0 4px 4px;
		@include font($mavenBold);
		text-transform: uppercase;
		position: relative;
		top:-15px;
		
		i {
			color:#fff;
			float: left;
			display: inline-block;
			font-size: 1.5em;
			margin:-3px 4px 0 0;
		}
	}
	
	.item {
		width: 100%;
		height: auto;
		display: inline-block;
		margin:20px 0 40px 0;
		text-align: left;
		
		h2 {
			display: block;
			font-size: 1.4em;
			@include font($mavenBold);
			border-bottom:1px solid $magenta;
			padding:0 0 5px 0;
			margin:0 0 15px 0;
		}
		
		a {
			display: inline-block;
			position: relative;
			transition:.2s all ease-in-out;
			position: relative;
			
			&:focus {
				outline: none;
				border:none;
			}
			
			i {
				display: block;
				position: absolute;
				top:0;
				left:0;
				height: 100%;
				width: 100%;
				font-size: 4em;
				color:rgba(#fff, 0.5);
				transition:.2s all ease-in-out;
				text-align: center;
				
				&:before {
					position: relative;
					top:43%;
				}
			}
			
			&:hover {
				i {
					background:rgba(#000, 0.5);
					color:#fff;
					
				}
			}
		} // a
		
		img {
			max-width: 100%;
			height: auto;
			display: inline-block;
			border:6px solid #fff;
			box-sizing: border-box;
		}
		
		.desc {
			margin:10px 0 0 0;
			display: block;
			
			p {
				margin-bottom:5px;
				@include font($maven);
			}
			
			a {
				color:$magenta;
				text-decoration: none;
				@include font($mavenBold);
				transition:.2s all ease;
				border-bottom:1px solid transparent;
				
				&:hover {
					color:darken($magenta, 10%);
					border-bottom:1px solid $magenta;
				}
			}
		}
	}
} // .agencySingle
