// default transitions
// usage:
//		@include transition(); => add default transition
// 		@include transition(.5s all linear); => includes custom paramters

$default-transition: .2s all ease-in-out;

@mixin transition($args:"") {
	@if $args != "" {
  	transition:$args;
  } @else {
	  transition: $default-transition;
  }
}



// set equal height & width of element
// usage: 
//		@include square(40px); => sets width & height of item to 40px
//		@include square(30px, 5px); => set width & height to 30px and border-radius to 5px
@mixin square($width, $radius:0) {
	width: $width;
	height: $width;
	
	@if $radius != 0 {
		border-radius: $radius;
	}
}



// general button styles
// usage: 
//		@include button(color, size);
// 		"size" = small, base (default option), large
@mixin button($color, $size: null) {
	border-color:$color;
	color:$color;
	
	// small button
	@if $size == "small" {
		height: 36px;
		line-height: 32px;
		padding:0 .7% 0 .9%;
		font-size: .9em;

	// large button
	} @else if $size == "large" {
		height: 54px;	
		line-height: 50px;
		padding:0 1.6% 0 1.9%;
		font-size: 1.3em
	}
	
	&:hover {
		background:$color;
	}
}




// cross-browser input 'placeholder'
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content} 
}